
navbar {
  nav {
    .navbar-brand {
      font-family: "ff-tisa-sans-web-pro",sans-serif;
      color: #d32626;
    }
    padding: 0;
    .navbar-text.navbar-right {
      a {
        font-size: 14px;
        // font-family: "open-sans",sans-serif;
      }
    }
  }
}
