
<navbar></navbar>

<div class="row notifications">

  <div class="col-md-5">

  </div>

  <div class="col-md-3 main">
    <span class="btn" ng-click="flush()" ng-show="if_flashing_update && !!updates_count" ng-hide="!is_flashing_update">
      Show ( {{ updates_count }} ) social stat updates
    </span>
  </div>

  <div class="col-md-4">

  </div>


</div>


<div class="bookmarks">

  <div class="row headers">
<!--     <div class="col-md-1 social">
      <i class="icon-iconmonstr-facebook-icon fb" data-toggle="tooltip" data-original-title="share count" ng-click="predicate = 'facebook.current.share_count'; reverse = !reverse;"></i>
      <i class="glyphicon glyphicon-chevron-down sorter" ng-show="predicate == 'facebook.current.share_count' && reverse" ng-hide="predicate != 'facebook.current.share_count' || (predicate == 'facebook.current.share_count' && !reverse) || reverse === undefined"></i>
      <i class="glyphicon glyphicon-chevron-up sorter" ng-show="predicate == 'facebook.current.share_count' && !reverse" ng-hide="predicate != 'facebook.current.share_count' || (predicate == 'facebook.current.share_count' && reverse) || reverse === undefined"></i>
    </div>
    <div class="col-md-1 social">
      <i class="icon-iconmonstr-twitter-icon twtr" data-toggle="tooltip" data-original-title="tweet count" ng-click="predicate = 'twitter.current.count'; reverse = !reverse;"></i>
      <i class="glyphicon glyphicon-chevron-down sorter" ng-show="predicate == 'twitter.current.count' && reverse" ng-hide="predicate != 'twitter.current.count' || (predicate == 'twitter.current.count' && !reverse) || reverse === undefined"></i>
      <i class="glyphicon glyphicon-chevron-up sorter" ng-show="predicate == 'twitter.current.count' && !reverse" ng-hide="predicate != 'twitter.current.count' || (predicate == 'twitter.current.count' && reverse) || reverse === undefined"></i>
    </div>
 -->
    <div class="col-md-1 social">
      <!-- <a ng-click="predicate = ''; reverse = undefined;">Reset</a> -->
      <!-- <i class="icon-iconmonstr-refresh-3-icon reset" ng-click="predicate = ''; reverse = undefined;"></i> -->
    </div>
    <div class="col-md-10">
    </div>
  </div>

  <div ng-controller="BookmarkCtrl" ng-repeat="user_bookmark in user_bookmarks | orderBy:'createdAt':true |  orderBy:predicate:reverse" class="row bookmark animate-repeat {{ status }}">
    <!-- <i class="anchor icon-iconmonstr-bookmark-icon"></i> -->

    <!-- facebook -->
<!--     <div class="col-md-1 social-counts">
      <social-count watch="user_bookmark.facebook" url="{{ user_bookmark.url }}" metric="share_count" weight="user_bookmark.facebook_color_weight">
      </social-count>
    </div>
 -->    <!-- twitter -->
<!--     <div class="col-md-1 social-counts">
      <social-count watch="user_bookmark.twitter" url="{{ user_bookmark.url }}" metric="count" weight="user_bookmark.twitter_color_weight">
      </social-count>
    </div>
 -->
    <div class="col-md-1">
      <i class="pull-right delete icon-iconmonstr-minus-5-icon" ng-click="destroy($index)" data-toggle="tooltip" data-original-title="delete" activate-tooltip tooltip-placement="left"></i>
    </div>

    <div class="col-md-10 link-wrapper">
      <img src="https://www.google.com/s2/favicons?domain={{ user_bookmark.host }}" alt="link-favicon">
      <a class="link" href="{{ user_bookmark.url }}" target="_blank" ng-click="opened($index)">
        {{ user_bookmark.title }}
      </a>
      <span class="host">
        ({{ user_bookmark.host }})
      </span>
    </div>
    <div class="col-md-1">
      <span class="status" data-toggle="tooltip" data-original-title="23 hours" activate-tooltip tooltip-placement="right"></span>
    </div>

  </div>

</div>



